<div class="container mt-3">
  <div class="card border mb-3 mx-auto card-style">
    <div class="card-body pt-0">
      <h4 class="card-title mt-2">Información básica</h4>
      <div class="card-text">
        <div class="mb-3">
          <small for="primerNombre" class="form-label text-muted"
            >Primer nombre</small
          >
          <input
            type="text"
            class="form-control bg-light"
            id="primerNombre"
            placeholder=""
            readonly
            [value]="this.datosUsuario.primerNombre"
          />
        </div>

        <div class="mb-3">
          <small for="segundoNombre" class="form-label text-muted"
            >Segundo nombre</small
          >
          <input
            type="text"
            class="form-control bg-light"
            id="segundoNombre"
            placeholder=""
            readonly
            [value]="this.datosUsuario.segundoNombre"
          />
        </div>

        <div class="mt-2">
          <div class="mb-3">
            <small for="primerApellido" class="form-label text-muted"
              >Primer apellido</small
            >
            <input
              type="text"
              class="form-control bg-light"
              id="primerApellido"
              placeholder=""
              readonly
              [value]="this.datosUsuario.primerApellido"
            />
          </div>

          <div class="mt-2">
            <div class="mb-3">
              <small for="segundoApellido" class="form-label text-muted"
                >Segundo apellido</small
              >
              <input
                type="text"
                class="form-control bg-light"
                id="segundoApellido"
                placeholder=""
                readonly
                [value]="this.datosUsuario.segundoApellido"
              />
            </div>

            <div class="mt-2">
              <div class="mb-3">
                <small for="telefono" class="form-label text-muted"
                  >Telefono</small
                >
                <input
                  type="text"
                  class="form-control bg-light"
                  id="telefono"
                  placeholder=""
                  readonly
                  [value]="this.datosUsuario.telefono"
                />
              </div>

              <div class="mt-2">
                <div class="mb-3">
                  <small for="direccion" class="form-label text-muted"
                    >Dirección</small
                  >
                  <input
                    type="text"
                    class="form-control bg-light"
                    id="direccion"
                    placeholder=""
                    readonly
                    [value]="this.datosUsuario.direccion"
                  />
                </div>

                <div class="mt-2">
                  <div class="mb-3">
                    <small for="ciudad" class="form-label text-muted"
                      >Ciudad</small
                    >
                    <input
                      type="text"
                      class="form-control bg-light"
                      id="ciudad"
                      placeholder=""
                      readonly
                      [value]="this.datosUsuario.ciudad"
                    />
                  </div>

                  <div class="mt-2">
                    <div class="mb-3">
                      <small for="tipoDocumento" class="form-label text-muted"
                        >Tipo de documento</small
                      >
                      <input
                        type="text"
                        class="form-control bg-light"
                        id="tipoDocumento"
                        placeholder=""
                        readonly
                        [value]="this.datosUsuario.tipoDocumento"
                      />
                    </div>

                    <div class="mt-2">
                      <div class="mb-3">
                        <small
                          for="numeroDocumento"
                          class="form-label text-muted"
                          >Número de documento</small
                        >
                        <input
                          type="text"
                          class="form-control bg-light"
                          id="numeroDocumento"
                          placeholder=""
                          readonly
                          [value]="this.datosUsuario.numeroDocumento"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
