<div class="row h-25"></div>

<form action="#" class="align-middle">
  <div class="card border mb-3 mx-auto card-style">
    <small class="text-secondary m-3 my-0"
      >Todos los campos son obligatorios</small
    >
    <div class="card-body pt-0">
      <div class="card-text">
        <div class="mt-2">
          <small for="tipoDocumento" class="form-label color-blue"
            >Tipo de documento</small
          >
          <select class="form-select py-3" id="tipoDocumento">
            <option value="CC">Cédula de ciudadanía</option>
            <option value="CE">Cédula de extranjería</option>
            <option value="PP">Pasaporte</option>
          </select>
        </div>

        <div class="mt-2">
          <small for="numeroDocumento" class="form-label color-blue"
            >Número de documento</small
          >
          <input
            type="number"
            class="form-control py-3"
            id="numeroDocumento"
            placeholder="Ingrese el número de documento"
          />
        </div>

        <div class="d-flex justify-content-center mt-3">
          <button
            type="submit"
            class="btn btn-primary rounded-pill btn-lg px-5 w-70 bg-c-blue"
          >
            <h6 class="my-1">Buscar</h6>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row"></div>
